<!-- doctor-details.component.html -->

<div *ngIf="doctor" class="doctor-details-container">
    <h2>Doctor Details</h2>
    <div>
      <p><strong>Username:</strong> {{ doctor.user.username }}</p>
      <p><strong>Email:</strong> {{ doctor.user.email }}</p>
      <p><strong>Name:</strong> {{ doctor.user.firstName }} {{ doctor.user.lastName }}</p>
      <p><strong>Phone:</strong> {{ doctor.user.phoneNumber }}</p>
      <p><strong>License Number:</strong> {{ doctor.licenseNumber }}</p>
      <p><strong>Clinic Address:</strong> {{ doctor.clinicAddress }}</p>
      <p><strong>Years of Experience:</strong> {{ doctor.yearsOfExperience }}</p>
      <p><strong>Bio:</strong> {{ doctor.bio }}</p>
      <!-- You can add more fields as needed -->
    </div>
  </div>
  