<!-- user-details.component.html -->

<div *ngIf="admin" class="user-details-container">
    <h2>User Details</h2>
    <div>
      <p><strong>Username:</strong> {{ admin.user.username }}</p>
      <p><strong>Email:</strong> {{ admin.user.email }}</p>
      <p><strong>Name:</strong> {{ admin.user.firstName }} {{ admin.user.lastName }}</p>
      <p><strong>Phone:</strong> {{ admin.user.phoneNumber }}</p>
      <p><strong>Gender:</strong> {{ admin.gender }}</p>
      <p><strong>Position:</strong> {{ admin.position }}</p>
    </div>
  </div>
  